<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entities; index as index">
            <td style="width:50%">
              <app-editable (update)="updateField(index, 'name', entity.id)">
                <ng-template viewMode>
                  <span>{{ entity.name }}</span>
                  <button type="button" class="btn btn-info">Edit</button>
                </ng-template>
                <ng-template editMode>
                  <textarea
                    [formControl]="getControl(index, 'name')"></textarea>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="updateField(index, 'name', entity.id)">
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancelChange(index, 'name')">
                    Canel
                  </button>
                </ng-template>
              </app-editable>
            </td>
            <td style="width:50%">
              <app-editable (update)="updateField(index, 'isAdmin', entity.id)">
                <ng-template viewMode>
                  <span>{{ entity.isAdmin }}</span>
                  <button type="button" class="btn btn-info">Edit</button>
                </ng-template>
                <ng-template editMode>
                  <input
                    type="checkbox"
                    [formControl]="getControl(index, 'isAdmin')" />{{
                    entity.isAdmin
                  }}
                </ng-template>
              </app-editable>
            </td>
          </tr>
          <!-- etc -->
        </tbody>
      </table>
    </div>
  </div>

  --- Original Entities ---
  <br />

  <code>
    {{ entities | json }}
  </code>

  <br />
  <br />

  --- ArrayForm Value ---

  <br />
  <code>{{ controls.value | json }}</code>
</div>
